@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');


body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #f8f7fa;
    text-decoration-color: black;
}


.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1800px;
    background-color: #f5e2f5;
    padding-left: 220px;
    padding-right: 20px;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{
    display: block;
    width: 86px;
    height: 40px;
    margin-right: 20px;
    padding-top: 30px;

}
.logo-container p{
    font-size: 30px;
  
}


.nav-items-container{

    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(7, 3, 3);
}


.nav-btn{
    width: 200px;
    height: 40px;
    font-size: larger;
    border-color: #f5f2f5; 
    font-family: Work Sans;
    font-size: 25px;   
}

.socialmedialogo{
    display: flex;
    background-color: beige;
    width: 60px;
    height: 35px;
}

/* nav design ends here */

.banner-container{
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 2000px;
    margin: 0px auto;
    background-color: #ebe3e3;    
}

.banner-content{
text-align: justify;
padding-left: 180px;

}

.primary-color{
    color: #f70af7;
    text-size-adjust: larger; 
}

.Sign-In-btn{
    background-color: #f70af7;
    border-radius: 48px; 
    border:aliceblue;
    color: aliceblue;
}

.Go-btn{
    background-color: #f70af7;
    border-radius: 48px; 
    color: aliceblue;
    border: aliceblue;
}


/* banner container ends here */

.gamer-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: 10px auto;
    background-color: #ebe3e3;  

}


.gamer-content{
    text-align: end;
    padding-left: 300px;
}

/* gamer container ends here */


.online-game-container{
    align-content: center;
    padding: 10px;

}

.gamer-content{
    text-align: center;
    font-size: large;
}

.online-game-img{
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    border-radius: 16px;
    column-gap: 10px;
}

.btn-know-more{
    background-color: #f70af7;
    border-radius: 48px; 
    color: aliceblue;
    border: aliceblue;  
}


/* online gamer container ends here */

.play-container{
    display: flex;
    justify-content: space-around;
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
}

.play-content{
    text-align: right;
    font-size: 22px;
    padding-left: 200px;
}

.play-online-img2{
    padding-left: -100px;
}

.career-container{
    display: flex;
    justify-content: center;
    max-width: 2000px;
    background-color: #f506c1e8; 
    padding: 10px 100px;
    color: aliceblue;
    column-gap: 20px;
}
.career-skill-location{
    display: flex;
    justify-content: center;
}

.career-btn{
    background-color: #f3e9f3;
    border-radius: 48px; 
    color: rgb(245, 6, 205);
    border: aliceblue;  
}

.different-game-container{
    width: 2200px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 10px;
    padding-top: 200px;
    background: rgb(240, 238, 234)
}

.different-game-image-l1{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-bottom: 40px;
}

.different-game-image-l2{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}


.footer-container{
    background-color: #8b6767;
    width: 2200px;
    height: 636px;
    justify-content: center;
    flex-shrink: 0;
}

.footer-logo-container{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: x-large;
    column-gap: 20px;
}

.footer-items-container{
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    font-size: larger;
    padding-top: 20px;
    
}

.fa-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-facebook {
    color: white;
  }

  .fa-youtube {
    color: white;
  }
    
  .fa-linkedin {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }

  .fa-apple {
    color: white
  }
  
  .websites-policy{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    color: white;
  }

  .copy-right{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
  }

  
