@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #f8f7fa;
    text-decoration-color: black;
}


.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0px auto;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{
    display: block;
    width: 96px;
    height: 60px;
    margin-right: 20px;
    padding-top: 40px;

}
.logo-container p{
    font-size: 30px;
  
}


.nav-items-container{

    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(7, 3, 3);
}

.nav-items-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
    
}

.nav-btn{
    width: 150px;
    height: 40px;
    font-size: larger;
    border-color: none;    
}

.socialmedialogo{
    display: flex;
    background-color: beige;
    width: 60px;
    height: 35px;
}

/* nav design ends here */

.banner-container{
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 2000px;
    margin: 0px auto;
    background-color: #ebe3e3;    
}

.banner-content{
text-align: justify;
padding-left: 180px;

}

.primary-color{
    color: #f70af7;
    text-size-adjust: larger;
    
}



/* banner container ends here */

.gamer-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: 10px auto;
    background-color: #ebe3e3;  

}


.gamer-content{
    text-align: end;
    padding-left: 300px;
}

/* gamer container ends here */


.online-game-container{
    align-content: center;
    padding: 10px;

}

.gamer-content{
    text-align: center;
    font-size: xx-large;
}

.online-game-img{
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    border-radius: 16px;
    column-gap: 10px;

}

/* online gamer container ends here */

.play-container{
    align-content: center;
    padding: 10px;

}
